.Container[b-bl15vyh7tb] {
    background-color: azure;
}

.Name[b-bl15vyh7tb] {
    font-size: 25px;
    color: black;
}

.Description[b-bl15vyh7tb] {
    font-size: 25px;
    color: dimgray;
}

.Price[b-bl15vyh7tb] {
    font-size: 25px;
    color: dimgray;
}
