@page "/"
@inject NavigationManager nav

@code
{
    private void createView()
    {
        nav.NavigateTo("/create");
    }
    private void readAllView()
    {
        nav.NavigateTo("/read");
    }
}

<div>
    <h1>Menú Usuario</h1>
    <button @onclick="createView">Crear</button>
    <button @onclick="readAllView">Visualizar</button>
</div>
