@page "/"
@inject NavigationManager nav

@code
{
    private void createView()
    {
        nav.NavigateTo("/Users/CreateProduct");
    }
    private void readAllView()
    {
        nav.NavigateTo("/Users/Read");
    }
}

<div>
    <h1>User Menu</h1>
    <button @onclick="createView">Create</button>
    <button @onclick="readAllView">Visualize</button>
</div>
