.Container{
    background-color: azure;
}

.Name{
    font-size: 25px;
    color: black;
}

.Email {
    font-size: 25px;
    color: dimgray;
}

.PhoneNumber {
    font-size: 25px;
    color: dimgray;
}