@inject NavigationManager nav

@code {

    [Parameter]
    public CRUD.Shared.Models.UserModel DataUser { get; set; }

    private void userInfoView()
    {
        nav.NavigateTo($"/Users/Read/{DataUser.Id}");
    }
}

<div class="Container">

    <p class="Name">@DataUser.Name</p>
    <p class="Email">@DataUser.Email</p>
    <p class="PhoneNumber">@DataUser.PhoneNumber</p>

    <button @onclick="userInfoView" class="btn">More</button>

</div>